.checkbox input[type="checkbox"] {
  opacity: 0;
  overflow: hidden;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.topcoat-checkbox {
  position: relative;
  display: inline-block;
  line-height: 2rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 2px;
}

.topcoat-checkbox__checkmark {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Background */
.topcoat-checkbox__checkmark:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid $color-c1c1c1;
  cursor: pointer;
  top: 10px;
}

/* Checkmark */
.topcoat-checkbox__checkmark:after {
  opacity: 0;
  content: '';
  position: absolute;
  /* Length of check tail */
  width: 10px;
  /* Lenght of check foot */
  height: 4px;
  background: transparent;
  border: 2px solid $base-white;
  border-top: none;
  border-right: none;

  top: 14px;
  margin-left: 2px;

  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

:checked + .topcoat-checkbox__checkmark:before {
  border: 1px solid $checkbox-color;
  background-color: $checkbox-color;
}

:checked + .topcoat-checkbox__checkmark:after {
  opacity: 1;
}

