//
// Table views
// --------------------------------------------------

.table-view {
  padding-left: 0;
  margin-top: 0;
  //margin-bottom: 15px;
  list-style: none; // Remove usual bullet styles from table view
  //background-color: #fff;
  //border-top: $border-default;
  //border-bottom: $border-default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

// Pad each table view item and add dividers
.table-view-card {
  position: relative;

  overflow: hidden;
  color: #999;
  // Remove the border from the last table view item
  &:last-child {
    //border-bottom: $border-default;
  }
  // If it's a table view of links, make sure the child <a> takes up full table view item tap area (want to avoid selecting child buttons though)
  > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px -$padding-width -11px -$padding-width; // Make the entire list item tappable.
    overflow: hidden;
    color: inherit;

    &:active {
      background-color: #eee;
    }
  }
  p {
    margin-bottom: 0;
  }
}

// Pad each table view item and add dividers
.table-view-cell {
  position: relative;
  padding: 11px $padding-width 12px $padding-width;

  overflow: hidden;
  color: #999;
  // Remove the border from the last table view item
  &:last-child {
    border-bottom: $border-default;
  }
  // If it's a table view of links, make sure the child <a> takes up full table view item tap area (want to avoid selecting child buttons though)
  > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px $padding-left-width -11px $padding-right-width; // Make the entire list item tappable.
    overflow: hidden;
    color: inherit;

    &:active {
      background-color: #eee;
    }
  }
  p {
    margin-bottom: 0;
  }
}

// Pad each table view item and add dividers
.table-view-cell-arrow {
  position: relative;
  padding: 11px $padding-width 11px $padding-width;
  overflow: hidden;
  border-bottom: $border-default;
  color: $base-font-color;

  // Remove the border from the last table view item
  &:last-child {
    border-bottom: $border-default;
  }
  &:first-child {
    border-top: $border-default;
  }
  // If it's a table view of links, make sure the child <a> takes up full table view item tap area (want to avoid selecting child buttons though)
  > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px $padding-a-width -11px $padding-right-width; // Make the entire list item tappable.
    overflow: hidden;
    color: inherit;
    //line-height: 20px;
    &:active {
      background-color: #eee;
    }
  }
  p {
    margin-bottom: 0;
  }
  .right-span {
    margin-right: 23px;
    float: right;
    color: $color-999999;
  }
}

// Pad each table view item and add dividers
.table-view-no-line-cell {
  position: relative;
  padding: 5px $padding-width 6px $padding-width;

  overflow: hidden;
  color: #999;
  // Remove the border from the last table view item
  &:last-child {
    border-bottom: $border-default;
  }
  // If it's a table view of links, make sure the child <a> takes up full table view item tap area (want to avoid selecting child buttons though)
  > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px $padding-left-width -11px $padding-right-width; // Make the entire list item tappable.
    overflow: hidden;
    color: inherit;

    &:active {
      background-color: #eee;
    }
  }
  p {
    margin-bottom: 0;
  }
}

// Table view dividers
// --------------------------------------------------

.table-view-divider {
  padding-left: 12px;
  margin-top: -1px; // Hides the border of the previous list item
  margin-left: 0;

  color: #666;
  //background-color: #fafafa;
  border-top: $border-default;
  border-bottom: $border-default;

  min-height: 44px;
  padding-top: 11px;
  padding-bottom: 6px;

  //font-weight: $font-weight;
}

// Table-views with media (images,avatars, icons)
// --------------------------------------------------

.table-view .media,
.table-view .media-body {
  overflow: hidden;
}

.table-view .media-object {
  &.pull-left {
    margin-right: 10px;
  }
  &.pull-right {
    margin-left: 10px;
  }
}

// Table-views with buttons, badges and toggles
// --------------------------------------------------
.table-view-cell,
.table-view-cell > a {
  > .btn,
  > .badge,
  > .toggle {
    position: absolute;
    top: 50%;
    right: 15px;
    @include transform(translateY(-50%));
  }

  // If the cell has a chevron, give some more room.
  .navigate-left,
  .navigate-right,
  .push-left,
  .push-right {
    > .btn,
    > .badge,
    > .toggle {
      right: 35px;
    }
  }
}

// If the table view is the first component, give it extra margin on top.
.content > .table-view:first-child {
  margin-top: 15px;
}

// If just one button in row. Pls use it.
.table-view-btn-block {
  padding-left: 32.25px;
  padding-right: 32.25px;
  height: 60px;
  font-size: 17px;
}

// Pay row css .Pls use it.
.table-view-pay {
  height: 60px;
  font-size: 14px;
}

.table-view-pay .left {
  border-top: 1px solid $color-dcdcdc;
  padding-left: 21px;
  :first-child {
    font-size: 13px;
  }
  :last-child {
    font-size: 18px;
    color: $negative-color;
  }
}

.table-view-pay .right {
  width: 80px;
  height: 60px;
  > button {
    height: 60px;
  }
}

.table-view-choose {
  border-top: 1px solid $color-dcdcdc;
  padding: 10px;
  height: 60px;
}

.table-view-choose .left {
  padding-right: 7.5px;
}

.table-view-choose .right {
  padding-left: 7.5px;
}

.table-view-cell-input {
  position: relative;
  padding: 4px $padding-width 4px $padding-width;
  overflow: hidden;
  border-bottom: $border-default;
  color: $base-font-color;

  .form {
    float: right;
  }

  span {
    position: absolute;
    padding-top: 8px;
    margin-bottom: 2px;
  }
}

.table-view-cell-checkbox {
  position: relative;
  padding: 5px $padding-width 4px $padding-width;
  overflow: hidden;
  border-bottom: $border-default;
  color: $base-font-color;

  .form {
    float: right;
  }

  span {
    position: absolute;
    padding-top: 8px;
    margin-bottom: 2px;
  }
}

