<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .animation1 {
            width:100px;
            height:100px;
            background:red;
        }

        .animation2 {
            width:100px;
            height:100px;
            background:blue;
        }

        .animation1.noShow {
            display: none;
        }
        .animation2.noShow {
            display: none;
        }

    </style>
</head>
<body>

<ul>
    <li><a href="#/user">#/user</a></li>
    <li><a href="#/jobs">#/jobs</a></li>
    <li><a href="#/jobs/j/1">#/jobs/1</a></li>
    <li><a href="#/jobs/woshihaha">#/jobs/haha</a></li>
    <li><a href="#/jobs/woshihehe">#/jobs/hehe</a></li>
    <li><a href="#/userlist">#/userList</a></li>

    <li><a href="#/animation1">动画1</a></li>
    <li><a href="#/animation2">动画2</a></li>
</ul>


<div id="animation1" class="animation1 noShow">1</div>
<div id="animation2" class="animation2 noShow">2</div>
<section id="content">

</section>

<script src="../bb.js"></script>

</body>
</html>